<div class="main-content">
  <div class="container-fluid">
    <div class="card">
        <div class="card-header card-header-danger">
            <h4 class="card-title">Apontamentos de horas</h4>
            <p class="card-category">Anotar entrada / saída</p>
        </div>
        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                    <h2>Apontamentos</h2>
                </div>
             </div>
        </div>
    </div>
</div>
