<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Listagem</h4>
                      <p class="card-category"> Lista</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead class=" text-primary">
                                  <th>
                                      Código
                                  </th>
                                  <th>
                                      Nome
                                  </th>
                                  <th>
                                      UF
                                  </th>
                                  <th>
                                      Cidade
                                  </th>
                                  <th>
                                      Empresa
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                          Dakota Rice
                                      </td>
                                      <td>
                                          Minas Gerais
                                      </td>
                                      <td>
                                          Uberlândia
                                      </td>
                                      <td class="text-primary">
                                          Ambev
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                          São Paulo
                                      </td>
                                      <td>
                                          São Paulo
                                      </td>
                                      <td class="text-primary">
                                          Bauduco
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                          Minas Gerais
                                      </td>
                                      <td>
                                          Uberlândia
                                      </td>
                                      <td class="text-primary">
                                          Ambev
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                          Minas Gerais
                                      </td>
                                      <td>
                                          Uberlândia
                                      </td>
                                      <td class="text-primary">
                                          Peixoto
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                          Minas Gerais
                                      </td>
                                      <td>
                                          Uberlândia
                                      </td>
                                      <td class="text-primary">
                                          Martins
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                          Minas Gerais
                                      </td>
                                      <td>
                                          Uberlândia
                                      </td>
                                      <td class="text-primary">
                                          Unilever
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="card card-plain">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title mt-0"> Listagem de carga Horária</h4>
                      <p class="card-category"> Aqui está as horas anotadas</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      Código
                                  </th>
                                  <th>
                                      Nome
                                  </th>
                                  <th>
                                      UF
                                  </th>
                                  <th>
                                      Cidade
                                  </th>
                                  <th>
                                      Carga Horária
                                  </th>
                              </thead>
                              <tbody>
                                  <tr>
                                      <td>
                                          1
                                      </td>
                                      <td>
                                        Alec Thompson
                                      </td>
                                      <td>
                                          Minas Gerais
                                      </td>
                                      <td>
                                          Uberlândia
                                      </td>
                                      <td>
                                          18h
                                      </td>
                                  </tr>
                                  <tr>
                                      <td>
                                          2
                                      </td>
                                      <td>
                                          Minerva Hooper
                                      </td>
                                      <td>
                                        Minas Gerais
                                    </td>
                                    <td>
                                        Uberlândia
                                    </td>
                                    <td>
                                        22h
                                    </td>
                                </tr>
                                  <tr>
                                      <td>
                                          3
                                      </td>
                                      <td>
                                          Sage Rodriguez
                                      </td>
                                      <td>
                                        Minas Gerais
                                    </td>
                                    <td>
                                        Uberlândia
                                    </td>
                                    <td>
                                        10h
                                    </td>
                                </tr>
                                  <tr>
                                      <td>
                                          4
                                      </td>
                                      <td>
                                          Philip Chaney
                                      </td>
                                      <td>
                                        Minas Gerais
                                    </td>
                                    <td>
                                        Uberlândia
                                    </td>
                                    <td>
                                        58h
                                    </td>
                                </tr>
                                  <tr>
                                      <td>
                                          5
                                      </td>
                                      <td>
                                          Doris Greene
                                      </td>
                                      <td>
                                        Minas Gerais
                                    </td>
                                    <td>
                                        Uberlândia
                                    </td>
                                    <td>
                                        25h
                                    </td>
                                </tr>
                                  <tr>
                                      <td>
                                          6
                                      </td>
                                      <td>
                                          Mason Porter
                                      </td>
                                      <td>
                                        Minas Gerais
                                    </td>
                                    <td>
                                        Uberlândia
                                    </td>
                                    <td>
                                        18h
                                    </td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
